 <% if(success && success.length){ %>
 <div class="alert alert-success alert-dismissable fade show col-12 col-lg-6 offset-lg-3" role="alert">
     <h5><%= success %></h5>
     <button type="button" class="btn-close position-absolute top-0 end-0 me-2 mt-3" data-bs-dismiss="alert" aria-label="Close"></button>
 </div>
 <% } %>
 <% if(error && error.length){ %>
 <div class="alert alert-danger alert-dismissable fade show col-12 col-lg-6 offset-lg-3" role="alert">
     <h5><%= error %></h5>
     <button type="button" class="btn-close position-absolute top-0 end-0 me-2 mt-3" data-bs-dismiss="alert" aria-label="Close"></button>
 </div>
 <% } %>