body{
    font-family:"Plus Jakarta Sans",sans-serif !important;
    display:flex;
    flex-direction:column;
    min-height: 100vh;
}
.container{
    flex:1;
}
/* navbar */
.navbar{
    background-color:white;
    height:5rem;
}
.fa-compass{
    color:#fe424d;
    font-size:2rem;
}
.nav-link{
    color:#222222 !important;
}
/* footer */

.f-info-links a{
  text-decoration:none;
  color:#222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info{
    height:8rem;
    background-color: #ebebeb;
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}
.f-info-socials{
    margin-top:10px;
    display:flex;
    gap:10px;
}
.f-info-socials i{
    font-size: 1.2rem;
}
/* cards */
.listing-card{
    border:none !important;
    margin-bottom:2rem;
}
.card-img-top {
  width: 100% !important;
  border-radius:1rem !important;
  object-fit: cover !important;
}
.card-body {
    padding:0 !important;
}
.card-body{
    font-weight:400 !important;
}
.listing-link{
    text-decoration:none;
}
.card-img-overlay{
    opacity:0;
}
.card-img-overlay:hover{
    opacity:0.2;
    background-color: white;
}
/* Edit */
.add-btn,.edit-btn{
    background-color: #fe424d !important;
    border:none !important;
   
}
.log-btn{
     background-color: #fe424d !important;
    border:none !important;
    color:#ebebeb !important;
    border-radius:25px;
}
/* show */
.show-img{
    height:30vh;
}
.show-btn{
    display:flex;
    gap:16px;
}
.edit-btn{
    background-color: #fe424d;
    border:none;
}
#map {
    width: 100%;
    max-width: 600px;   /* optional */
    height: 400px;
         /* center it */
}